/** crud **/

#message-area { 
	height:0px; text-align:center; 
}

#message-status {
	display: none;text-align: center,font-size: 10px;vertical-align: middle; 
}

#edition-area {
	margin-top:5px;
}

.ttm-crud-title {
   color:gray; font-style:italic; font-stretch:condensed; font-size:15px	
}

#edtition-form {
	
}

ttm-crud-field-error {
	color:red; font-size:10px
}

#update-buttons {
	margin-top:5px;margin-bottom:5px;margin-left:5px;
}

#save-buttons {
	margin-top:5px;margin-bottom:5px;margin-left:5px;
}

#table-area {
	
}

#new-button {
	float:right; margin-top:5px;margin-bottom:5px;margin-left:5px;
}

#registers-table {
	margin-right:auto; margin-left:auto;
}

#button-load {
	float:right;font-size:10px
}

#button-delete {
	float:right;font-size:10px
}