<div id="ttm-crud-form-edition-buttons">
	<div id='update-buttons' ng-show="crud.updating_mode">
		<!-- action to update the register on data base -->
		<button type="submit" class="btn btn-success" ng-disabled='editForm.$invalid' >{{'Update' | translate}}</button>
							
		<!-- action to reset the form -->
		<button type="button" class="btn btn-default" ng-click="crud.cancelEdition()">{{'Cancel' | translate}}</button>
	</div>
	<div id='save-buttons' ng-show="crud.creating_mode">
		<!-- action to create a new register on data base -->
		<button  type="submit" class="btn btn-success" ng-disabled='editForm.$invalid'>{{'Save' | translate}}</button>
				
		<!-- action to reset the form -->
		<button type="button" class="btn btn-default" ng-click="crud.cancelEdition()">{{'Cancel' | translate}}</button>
	</div>
</div>
